node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

dist/
build/
out/
coverage/
.cache/
.parcel-cache/
.turbo/
.vite/
.vercel/
.medusa/

.pnp
.pnp.js
.pnpm-store/
.yarn/

.DS_Store
Thumbs.db

android/.gradle/
android/local.properties
android/app/build/
ios/Pods/
ios/build/
